/** Add css rules here for your application. */

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

a {
    text-decoration: none;
    cursor: default;
}

img {
  margin-top: 20px;
}